@page
@inject downr.Services.PostService postService
@inject Microsoft.Extensions.Options.IOptions<downr.DownrOptions> downrOptions
@model IndexModel
@using Humanizer
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@downrOptions.Value.Title</h1>
    <p>@downrOptions.Value.IndexPageText</p>
</div>

@{
    var last6Posts = @postService.GetPosts(0, downrOptions.Value.PageSize);
}

<div class="card-columns">
    @foreach (var post in last6Posts)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="@($"/posts/{post.Slug}")">@post.Title</a></h5>
                <p class="card-text">@post.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">@post.PublicationDate.Humanize()</small>
            </div>
        </div>
    }
</div>
